*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: darkblue;


}
.logo{
    width: 25%;
    height:100%;
   
}
.logo a{
    width: 100%;
    height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu{
    width: 75%;
    height: 100%;
    display: flex;
    
}
.menu .navBar ul{

      display: flex;
      flex: 1;;
    justify-content: space-around;
    align-items: center;
   text-decoration: none;
   list-style: none;
   }
.navBar ul li{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.navBar ul li a{
    text-decoration: none;
    font-size:16px;
    color:white;   
}
