* {
margin: 0;
padding: 0;    
   
}
 .header{
     height: 10%;
     width: 100%;
     background-color: pink;
     display:flex;
 }
.logo{

width:25%;
   background-color:pink;
   
}

logo a{

   width: 100%;
   height:100%;
   display:flex;
   justify-content:center;
   
}

.logo a  img{
width: auto;
   height:auto;
   
}



.menu {
height: 75%;
   width: 100%;
   background-color: black;
   display: flex;
   
}
.navbar {
height: 100%;
   width: 100%;
   color: green;
   display: flex;
   
}
.navbar ul {
width:100%;
   height:100%;
 color: blue;
   display:flex;
   
   
}



