* {
margin: 0;
padding: 0;    
   
}
 .header{
     height: 100%;
     width: 100%;
     background-color: pink;
     display:flex;
 }
.menu {
height: 100%;
   width: 100%;
   color: black;
   display: flex;
   
}
.navbar {
height: 100%;
   width: 100%;
   color: green;
   display: flex;
   
}
.navbar ul {
width:100%;
   height:100%;
 color: blue;
   display:flex;
   
   
}



